{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Students{% endblock title %}
{% block nav_class_students %}active{% endblock %}
{% block content %}
<div class="container">
  <div class="main-container">
    <div class="student-details">
      <table>
        <tbody>
          <tr>
            <td>имя:</td>
            <td>
              {{student.name}} {{student.surname}}
            </td>
          </tr>
          <tr>
            <td>дата рождения:</td>
            <td>
              {{student.date_of_birth|date:"N j, Y"}}
            </td>
          </tr>
          <tr>
            <td>адрес:</td>
            <td>
              {{student.address}}
            </td>
          </tr>
          <tr>
            <td>ел. почта</td>
            <td>
              {{student.email}}
            </td>
          </tr>
          <tr>
            <td>skype:</td>
            <td>
              {{student.skype}}
            </td>
          </tr>
          <tr>
            <td>телефон:</td>
            <td>
              {{student.phone}}
            </td>
          </tr>
          <tr>
            <td>курсы</td>
            <td>
              {% for course in courses %}
              <a href="{% url 'courses:detail' course.id %}">
                {{course.name}}
                <br>
              </a>
              {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}