{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Students{% endblock title %}
{% block nav_class_students %}active{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="main-container text-center">
      <h4>PyFamily Corps Members</h4>
      <h5>We Need All of You</h5>
      <div class="course-details">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th class="width-25">Last name, First name</th>
              <th class="width-25">Address</th>
              <th class="width-25">Skype</th>
              <th>Courses</th>
            </tr>
          </thead>
          <tbody class="text-left">
                {% for student in students_list %}
                <tr>
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td>
                        <a href="{% url 'students:detail' student.id %}">
                            {{student.full_name}}
                        </a>
                    </td>
                    <td>
                        {{student.address}}
                    </td>
                    <td>
                        {{student.skype}}
                    </td>
                    <td>
                        {% for course in student.courses %}
                        <a href="{% url 'courses:detail' id=course.id %}">
                            {{course.name}}
                        </a>
                        <br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}