<!DOCTYPE html>
<html lang="en">
<head>
  <title>Py Remote Course</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <nav>
    <ul class="list-unstyled">
      <li class="menu-item">
        <a href="index.html">Main</a>
      </li>
      <li class="menu-item active">
        <a href="contact.html">Contacts</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div id="wrapper" class="text-center main-container">
      <h1>My Roles :)</h1>
      <div class="row">
	<div class="col-lg-4 col-md-6 col-sm-6">
          <img src="../static/images/founder.jpg" class="img-thumbnail" alt="profile_picture">
          <h5>Founder</h5>
          <div class="text-left profile-data">
            <div class="info-block text-justify">
             @todo add Description
            </div>
            <div class="info-block text-muted">
              <p>
                <span>Name:</span>
                Serhii The Founder
              </p>
              <p>
                <span>Skype:</span>
                Censored
              </p>
              <p>
                <span>Email:</span> Censored
              </p>
              <p>
                <span>Phone:</span>
                Censored
              </p>
            </div>
          </div>
        </div>
<div class="col-lg-4 col-md-6 col-sm-6">
          <img src="../static/images/the_boss.jpg" class="img-thumbnail" alt="profile_picture">
          <h5>Director</h5>
          <div class="text-left profile-data">
            <div class="info-block text-justify">
               @todo add Description
            </div>
            <div class="info-block text-muted">
              <p>
                <span>Name:</span>
                Serhii The Director
              </p>
              <p>
                <span>Skype:</span>
                Censored
              </p>
              <p>
                <span>Email:</span> Censored
              </p>
              <p>
                <span>Phone:</span>
                Censored
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <img src="../static/images/manager.jpg" class="img-thumbnail" alt="profile_picture">
          <h5>Manager</h5>
          <div class="text-left profile-data">
            <div class="info-block text-justify">
              @todo add Description
            </div>
            <div class="info-block text-muted">
              <p>
                <span>Name:</span>
                Serhii The Manager</p>
              <p>
                <span>Skype:</span>
                Censored
              </p>
              <p>
                <span>Email:</span> Censored
              </p>
              <p>
                <span>Phone:</span>
                Censored
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>