<!DOCTYPE html>
<html lang="en">
<head>
  <title>PyBursa Students</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="../static/js/bootstrap.js"></script>
</head>
<body>
  <nav>
    <a class="navbar-brand" href="{% url 'index' %}">
        <img alt="Brand" src="../static/images/logo.jpg"  width="40px">
      </a>
    <ul class="list-unstyled">
      <li class="menu-item">
        <a href="{% url 'index' %}">Main</a>
      </li>
      <li class="menu-item">
        <a href="{% url 'courses_list' %}">Courses List</a>
      </li>
      <li class="menu-item active">
        <a href="{% url 'contact' %}">Contacts</a>
      </li>
      <li class="menu-item active">
        <a href="{% url 'student_list' %}">Students</a>
      </li>
    </ul>
  </nav>
	<div class="container">
		<div class="row">
		  <div class="col-lg-10 col-lg-push-1">
		      <div id="mainInfo" class="main-container text-center">
		        <h1>PyBursa Corps</h1>
                    <div class="table-wrapper">
                        <table class="table table-hover table-responsive">
                          <thead>
                                <tr>
                                <th>No</th>
                                <th>Surname</th>
                                <th>Name</th>
                                <th>Adress</th>
                                <th>Skype</th>
                             </tr>
                          </thead>
                          <tbody class="text-left">
                                <tr>
                                <td><a href="{% url 'student_details' %}">1</a></td>
                                <td>Mayweather</td>
                                <td>Floyd</td>
                                <td>Grand Rapids, Michigan, U.S.</td>
                                <td>pretty_boy</td>
                             </tr>
                                <tr>
                                <td>2</td>
                                <td>Gonzalez</td>
                                <td>Roman</td>
                                <td>Managua, Nicaragua</td>
                                <td>Chocolatito</td>
                             </tr>
                                <tr>
                                <td>3</td>
                                <td>Slater</td>
                                <td>Barbara</td>
                                <td>Birmingham, England</td>
                                <td>Barbara_Jane</td>
                             </tr>
                                <tr>
                                <td>4</td>
                                <td>Crouch</td>
                                <td>Tracey</td>
                                <td>Ashford, Kent, England</td>
                                <td>Hull_University</td>
                             </tr>
                                <tr>
                                <td>5</td>
                                <td>Balding</td>
                                <td>Clare</td>
                                <td>Kingsclere, Hampshire, England</td>
                                <td>Clare1971</td>
                             </tr>
                         </tbody>
                        </table>
                    </div>
				</div>
              </div>
      </div>
    </div>
</body>
</html>