{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Contacts{% endblock title %}
{% block nav_class_students %}active{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
		  <div class="col-lg-10 col-lg-push-1">
		      <div id="mainInfo" class="main-container text-center">
		        <h1>PyBursa Corps</h1>
                    <div class="table-wrapper">
                        <table class="table table-hover table-responsive">
                          <thead>
                                <tr>
                                <th>No</th>
                                <th>Surname</th>
                                <th>Name</th>
                                <th>Adress</th>
                                <th>Skype</th>
                             </tr>
                          </thead>
                          <tbody class="text-left">
                                <tr>
                                <td><a href="{% url 'student_details' %}">1</a></td>
                                <td>Mayweather</td>
                                <td>Floyd</td>
                                <td>Grand Rapids, Michigan, U.S.</td>
                                <td>pretty_boy</td>
                             </tr>
                                <tr>
                                <td>2</td>
                                <td>Gonzalez</td>
                                <td>Roman</td>
                                <td>Managua, Nicaragua</td>
                                <td>Chocolatito</td>
                             </tr>
                                <tr>
                                <td>3</td>
                                <td>Slater</td>
                                <td>Barbara</td>
                                <td>Birmingham, England</td>
                                <td>Barbara_Jane</td>
                             </tr>
                                <tr>
                                <td>4</td>
                                <td>Crouch</td>
                                <td>Tracey</td>
                                <td>Ashford, Kent, England</td>
                                <td>Hull_University</td>
                             </tr>
                                <tr>
                                <td>5</td>
                                <td>Balding</td>
                                <td>Clare</td>
                                <td>Kingsclere, Hampshire, England</td>
                                <td>Clare1971</td>
                             </tr>
                         </tbody>
                        </table>
                    </div>
				</div>
              </div>
      </div>
    </div>
{% endblock content %}