<!DOCTYPE html>
<html lang="en">
<head>
  <title>PyBursa Student Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="../static/js/bootstrap.js"></script>
</head>
<body>
  <nav>
    <a class="navbar-brand" href="{% url 'index' %}">
        <img alt="Brand" src="../static/images/logo.jpg"  width="40px">
      </a>
    <ul class="list-unstyled">
      <li class="menu-item">
        <a href="{% url 'index' %}">Main</a>
      </li>
      <li class="menu-item">
        <a href="{% url 'courses_list' %}">Courses List</a>
      </li>
      <li class="menu-item">
        <a href="{% url 'contact' %}">Contacts</a>
      </li>
      <li class="menu-item">
        <a href="{% url 'student_list' %}">Students</a>
      </li>
    </ul>
  </nav>
<div class="container">
  <div class="main-container">
    <div class="profile-info">
      <div class="row">
        <div class="col-lg-3">
          <img src="../static/images/the_boss.jpg" class="profile-pic" alt="profile_picture">
          <div class="profile-data">
            <p><span>Surname:</span>Student (ex The Boss)</p>
            <p><span>Name:</span>Serhii</p>
            <p><span>Patronymic:</span>Floyd</p>
            <p><span>Birth Date:</span>1979-02-24</p>
            <p><span>Address:</span>Grand Rapids, Michigan, U.S.</p>
            <p><span>E-mail:</span>pretty_boy@gmail.com</p>
            <p><span>Skype:</span>pretty_boy</p>
            <p><span>Average Grade:</span>58</p>
            <p><span>Rating:</span>3</p>
          </div>
        </div>
        <div class="col-lg-9">
            <h4>Floyd Mayweather</h4>
            <h6>Finished courses:</h6>
                <div>No data available</div>
            <h6>Courses in progress:</h6>
                <div>PyBursa Corps</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                    90%
                </div>
            </div>
           <table class="table">
            <thead>
              <tr>
                <th class="width-md">Topic</th>
                <th>Tests</th>
                <th>Problem Task1</th>
                <th>Problem Task2</th>
                <th>Grade</th>
								<th>Process</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Python Basics</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
								<td><span class="label label-success">finished</span></td>
              </tr>
              <tr>
                <td>Functions</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
								<td><span class="label label-success">finished</span></td>
              </tr>
              <tr>
                <td>Libraties</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
								<td><span class="label label-success">finished</span></td>
              </tr>
              <tr>
                <td>OOP Basics</td>
                <td>100</td>
                <td>75</td>
                <td>0</td>
                <td>58</td>
								<td><span class="label label-info">in progress</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>