{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Students{% endblock title %}
{% block nav_class_courses %}active{% endblock %}
{% block content %}

{% include "include/coursedetail_include.html" %}
<div class="container">
        <div class="row">
            <div class="main-container course-details">
                <div>
                <h4>
                    {{cource.name}}
                </h4>
                {{cource.description}}
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Тема</th>
                            <th>Описание</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lesson in lessons %}
                        <tr>
                            <td>
                                {{lesson.order}}
                            </td>
                            <td>
                                {{lesson.subject}}
                            </td>
                            <td>
                                {{lesson.description}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}